.AdminHome {
  text-align: center;
  min-width: 100%;
}

.BookCard {
  width: 200px;
}

.Modal {
  padding-top: 30vh;
  overflow-y: scroll;
}

.AddNew {
  margin-top: 100px;
}

.IssuedBooks {
  padding-top: 50px;
}

.Loader {
  padding-left: 50vw;
  padding-top: 40vh;
}
