.UserIcon {
  margin-top: 13px;
}

.WrapContent {
  word-break: break-all;
}

.Loader {
  padding-left: 50vw;
  padding-top: 40vh;
}

.TextArea {
  width: 100%;
  height: 100px;
}

.Img {
  width: 200px;
  border: 1px solid;
}
